@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<h1>========TempData====================</h1>
<h3>@TempData["ename"]</h3>
<h3>@TempData["eid"]</h3>
<h3>@TempData["salary"]</h3>
<h3>@TempData["department"]</h3>


<h1>===========Session Data==============</h1>
<h3>@Session["data"]</h3>
<p>Use this area to provide additional information.</p>
